<div class="main-container container">
  <div class="row">
    <!-- Posts List-->
    <div class="col-sm-6">   
      <div  class="panel panel-default panel-body" *ngFor="let post of (posts | limitTo:10)" (click)="selectedPost(post,$event)">
        <h5>Title:</h5>
        <p>{{post.title | uppercase}}</p>
        <h5> Body:</h5>
        <p>{{post.body}}</p>
        <button class="btn btn-danger btn-sm delete-post" type="button" (click)="deletePost($event, post)">Delete </button>
      </div>
    </div>
    <!--create Form-->
    <div class="col-sm-6" >
      <div class="panel panel-default panel-body create-form" > 
        <form novalidate #createForm="ngForm">
          <div class="form-group">
            <label for="name">Add A Title:</label>
            <input id="name"
                class="form-control" 
                required 
                type="text" 
                name="post-name" 
                [(ngModel)]="newPostData.title" 
                placeholder="Enter post name">
          </div>
          <div class="form-group">
            <label for="description">Add A Body:</label>
            <textarea rows="6" cols="10"  id="description"
                      class="form-control"
                      required type="text" 
                      name="post-description" 
                      [(ngModel)]="newPostData.body" 
                      placeholder="Enter post description">
            </textarea>
          </div>
        </form>
        <button class="btn btn-primary" type="submit" [disabled]="!createForm.valid" 
                (click)="addPost($event)">Add</button>
      </div>
    </div>  
  </div>
</div>

