.ng-invalid:not(form) {
    border: 1px solid red;
}
.ng-valid:not(form) {
    border: 1px solid green;
}

.btn-add-product {
    position:fixed;
    margin-bottom: 20px;
    bottom:0;
    left:50%;
}
 .create-form{
     position:fixed;
 }



