  <div class="main-container">

    <!--product list-->
    <div class="sub-container-1">   
      <div class="product-in-list" *ngFor="let product of (products | limitTo:10)" (click)="selectProduct(product)">
        <h3>Product Name</h3>
        <p>{{product.name | uppercase}}</p>
        <h3> Product Description</h3>
        <p>{{product.description}}</p>
        <button type="button" (click)="deleteProduct($event, product)">Delete Product</button>
      </div>
    </div>
    
    <!--create Form-->
    <div class="product-in-list" *ngIf="isCreating"> 
      <form novalidate #createForm="ngForm">
        <label>Product Name</label>
        <input required type="text" name="product-name" [(ngModel)]="newProductName" placeholder="Enter product name">
        <label>Product Description</label>
        <input required type="text" name="product-description" [(ngModel)]="newProductDescription" placeholder="Enter product description">
      </form>
      <button type="submit" (click)="toggleState()">Cancel</button>
      <button type="submit" [disabled]="!createForm.valid" (click)="addProduct()">Add</button>
    </div>

  </div>  
  <button type="button" (click)="toggleState($event)">Add Product</button>

